.slidev-toc-item {
  a {
    border: none;

    &:hover {
      border: none;
    }
  }
}

:not(pre) {
  & > code {
    background-color: #f2f2f2;
    padding: 0 4px;

    &::after, &::before {
      content: '';
    }
  }
}
